name: Main Workflow

# trigger
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build Laravel App
    runs-on: ubuntu-latest

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
      
      - name: Setup MYSQL
        run: |
          docker run -d \
          --name mysql-container \
          -e MYSQL_ALLOW_EMPTY_PASSWORD=false \
          -e MYSQL_ROOT_PASSWORD=password \
          -e MYSQL_USER=root \
          -e MYSQL_DATABASE=test \
          -p 3306:3306 \
          mysql:latest


      - name: test mysql
        run: |
           docker ps

      - name: wait mysql
        run: |
           sleep 30



      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          composer install
      - name: Create .env
        run: |
          cp .env.ci .env
          cp .env.ci .env.testing
      
      - name: Generate the key
        run: |
          php artisan key:generate
      
      - name: Migrate the Database
        run: |
          php artisan migrate
      - name: Build Docker image
        run: |
           docker build -t verdant-sphere .
      
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: testingkyaw/verdant-sphere:latest